{{define "bodyTemplate"}}
<div class="jumbotron text-center">
  <h1>My First Bootstrap Page</h1>
  <p>Resize this responsive page to see the effect!</p> 
</div>

<div class="container">
  <div class="row">
    {{range $index, $value := .}}
        <div class="col-sm-4">
        <h3>Column {{$index}}</h3>
        <p>Value</p>
        <p>{{$value}}</p>
        </div>
    {{end}}
  </div>
</div>
{{end}}