<!DOCTYPE html>
<html>
    <head>
        <title>First template</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <h1>This is first template</h1>
        <p class="heading" id="heading">This is para tag</p>
        {{$student := .}}
        {{range $i, $v := $student}}
            <h1>{{$i}} - {{$v.Name}} {{$v.Age}}</h1>
        {{end}}
    </body>
    <script src="js/common.js"></script>
</html>