<!DOCTYPE html>
<html>
    <head>
        <title>Nested Template Example</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        {{template "bodyTemplate" .}}
    </body>
</html>