<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Welcome to Go Templating</title>
</head>
<body>
<h3>Go Students</h3>
<ul>
    {{range $index, $value := . }}
        <li>{{$index}} - {{$value}}</li>
    {{end}}
</ul>
</body>
</html>